# coverage erase
# ... run tests ...
# coverage combine
# coverage report -m 


[run]
relative_files = true
parallel = true
source = nbappinator
omit = 
    */*ipykernel*/*
    tests/*

# Still testing sigterm, but seems to be needed on linux for the ipynb tests  
sigterm = true
