default_language_version:
  python: python3
exclude: "^$"

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.15.2
    hooks:
      # Run the linter.
      - id: ruff-check
        types_or: [ python, pyi, jupyter ]
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
  - repo: "local"
    hooks:
      - entry: tsc --noEmit
        id: "tsc"
        name: "tsc"
        language: node
        pass_filenames: false
        types_or: [ts, tsx]
        args: []
        require_serial: false
        additional_dependencies: ["typescript@~4.1.3"]
        minimum_pre_commit_version: "0"
        exclude: "packages/app/public/.*|packages/app/build/.*"
  - repo: local
    hooks:
      - entry: pyright
        id: "pyright"
        name: "pyright"
        types_or: [python]
        language: system
        pass_filenames: true
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest -n 4 tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        files: '.*\.(py|ipynb)$'
