[project]
name = "nbappinator"
version = "0.0.6"
description = "Jupyter Notebook Application Builder"
authors = [{ name = "Paul Timmins", email = "paul@iqmo.com" }]
dependencies = ["ipywidgets~=7.8.0", "plotly", "ipyvuetify>=1.9", "ipyaggrid", "ipytree", "pandas>=1.5.3"]
readme = "README.md"


[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.ruff.lint]
ignore-init-module-imports = true

[tool.pyright]
typeCheckingMode = "basic"
reportGeneralTypeIssues = false
reportPrivateImportUsage = false