# To release
build
twine

# For testing
coverage
pytest
pytest-xdist
nbformat
nbconvert
ipykernel
seaborn

# kaleido # kaleido / png exporting hanging. Disabled for now

# for local dev
pre-commit
python-dotenv
commitizen

# for snapshot_mgr
s3fs  
universal_pathlib

# For notebooks
pandas
ipytree
ipyvuetify
ipywidgets
ipyaggrid
plotly
