# To release
build
twine

# For testing
coverage
nbval
pytest
pytest-xdist
nbformat
nbconvert
ipykernel
seaborn

# for local dev
pre-commit

# For notebooks
pandas
ipytree
ipyvuetify
ipywidgets
ipyaggrid
plotly
