name: Build and Release

on:
  push:
    tags:
      - "v*"

# Builds on tag
jobs:
  build-and-upload:
    # https://docs.pypi.org/trusted-publishers/using-a-publisher/
    name: Build-Test-Release on Tag
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # needed for tags for dunamai
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install dependencies
        run: uv sync --all-groups
      - name: Build package
        run: |
          uv build
      - name: Run tests
        run: |
          uv run pytest tests
      # if statement is redundant with on tags
      - name: Upload package to PyPI
        if: startsWith(github.ref, 'refs/tags/v')
        uses: pypa/gh-action-pypi-publish@release/v1
        #with:
        #    repository-url: https://test.pypi.org/legacy/
