name: Verbose Test

on:
  workflow_dispatch:


jobs:
  build-and-upload:
    # https://docs.pypi.org/trusted-publishers/using-a-publisher/
    name: Verbose Test
    runs-on: ubuntu-latest
    environment: test
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install dependencies
        run: uv sync --all-groups
      - name: Run tests
        env:
          COVERAGE_PROCESS_START: ${{ github.workspace }}/.coveragerc
        run: |
          uv run pytest -s -o log_cli=true
      - name: Build package
        run: |
          uv build
