name: Test and Coverage

on:
  push:
    branches:
      - "*"

jobs:
  build-and-upload:
    # https://docs.pypi.org/trusted-publishers/using-a-publisher/
    name: Build-Test-Release on Tag
    runs-on: ubuntu-latest
    environment: test
    permissions:
      contents: write
    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install dependencies
        run: uv sync --all-groups
      - name: Build package
        run: |
          uv build
      - name: Run tests with coverage and Build
        env:
          COVERAGE_PROCESS_START: ${{ github.workspace }}/.coveragerc
        run: |
          uv run coverage erase
          uv run pytest --cov=nbappinator -n auto --cov-report=
          uv run coverage report -m
      - name: Python Coverage Comment if main
        if: github.ref == 'refs/heads/main'
        uses: py-cov-action/python-coverage-comment-action@v3.38
        with:
          GITHUB_TOKEN: ${{ github.token }}
